.c-board {
  &__body {
    height: calc(100vh - 144px);
  }
}

.c-task {
  &__btn {
    min-width: 60px;
  }
}

.c-category {
  min-width: 450px;
}

.c-task {
  background-color: red;
}
